# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# IDE files
.idea/
*.iml
# Build directories
/target/
/bin/
/out/
# Logs
*.log
# OS files
.DS_Store
# Compiled files
*.class
